@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');

header#main-header{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 8vh;
    background: #4C1454;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 0.5rem;
    color: #EAE4F2;
    display: flex;
    justify-content: center;
    align-items: center;
}