*{
    font-family: 'Montserrat', sans-serif;
}

#container-title{
    width: 76vw;
    margin: 30px 2vw;
    display: inline-flex;
    justify-content: space-between;
}

#user-container{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;

}

#user-container h1{
    font-size: 2rem;
    font-weight: 600;
    color: #1C1D21;
    justify-content: start;

}

.user-list{
    max-width: 80vw;
    padding: 0 20px;
    
}

.user-list ul{
    display: flex;
    padding: 0;
    margin: 0;
    align-self: center;
    justify-content: center;
}

.user-list li{
    height: 280px;
    background: white;
    box-shadow: 3px 5px 8px #1c1d2150;
    border-radius: 25px;
    padding: 40px;
    margin-bottom: 20px;
}

.user-list li #content{
    display: inline-flex;
    width: 80vw;
}

.user-list li #content div{
    width: 50%;
}

.user-list li strong{
    font-weight: 600;
    font-size: 1.2rem;
    color: #1C1D21;
    
}

.user-list li p{
    font-size: 1rem;
    font-weight: 400;
    color: #BB9BB0;
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 20px;
}

#create-link{
    height: 50px;
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #4C1454;
    background: none;
    color: #4C1454;
    text-decoration: none;
    font-weight: 500;
    font-size: 42px;
    transition: all 0.3s;
}

#create-link:hover{
    background: #4C1454;
    color: #EAE4F2;
}

.button{
    height: 50px;
    width: 28vw;
    border-radius: 10px;
    border: 2px solid #4C1454;
    background: none;
    margin-top: 10px;
    color: #4C1454;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.button:hover{
    background: #4C1454;
    color: #EAE4F2;
}

.actions{
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0px;
}